.row {
    width: 100%
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn {
    margin: 10px 5px;
}

.gifs {
    margin: auto 5px;
    float: left;
}

* {
    box-sizing: border-box;
}